img{
    height: 200px;
    margin: 5px;
}
.container{
    height: 800px;
    width: 800px;
    background-color: grey;
}
#row1{
    background-color: lightblue;
    width: 750px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#row2{
    background-color: pink;
    width: 750px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
#row3{
    background-color: white;
    width: 750px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
header{
    text-align: center;
    font-size: xx-large;
}